<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="todo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <todo.Properties.Settings>
            <setting name="accessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="user_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value>https://api.jakubsolarek.pl/todo/todo-server/basic/web</value>
            </setting>
        </todo.Properties.Settings>
    </userSettings>
</configuration>